<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/databasePage.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="page_header">
    <h1 class="page_title">DB Manger</h1>
</div>

<h1>
    <span>Database Overview for Server: </span>
    <span th:text="${serverName}"></span>
</h1>

<div class="container">
    <span style="margin-right: 5px">Database Name:</span>
    <input type="text" style="flex: 5" id="tableNameInput">

    <button id="button2" onclick="createDatabase()" class="icon_button">
        <i class="fas fa-floppy-disk"></i>
    </button>

</div>

<table>
    <tr>
        <th><span>Name</span></th>
        <th class="action_col"><span>Open</span></th>
        <th class="action_col"><span>Delete</span></th>
    </tr>
    <tr th:each="databaseName : ${databaseNameList}">
        <td>
            <span th:text="${databaseName}"
                  th:value="${databaseName}"
                  ondblclick="convertToInput(this)"></span>
        </td>
        <td>
            <button th:onclick="openDatabase([[${databaseName}]])">
                <i class="fas fa-square-arrow-up-right"></i>
            </button>
        </td>
        <td>
            <button th:onclick="deleteDatabasePopup([[${databaseName}]])">
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
</table>

<div id="confirmationPopup" class="confirmation-popup">
    <p>Do you really want to delete the database?</p>
    <button id="confirmDelete" onclick="confirmDelete(true)">Yes</button>
    <button id="cancelDelete" onclick="confirmDelete(false)">No</button>
</div>

<script type="text/javascript" th:inline="javascript">
    const serverUrl = /*[[${@environment.getProperty('spring.config.serverUrl')}]]*/ '';
    let serverName = /*[[${serverName}]]*/ 'ServernameFallback';
    let selectedDatabase;

    function confirmDelete(confirmed) {
        document.getElementById('confirmationPopup').style.display = 'none';
        if(confirmed){
            deleteDatabase(selectedDatabase);
        }
    }

    function refresh(){
        window.location.href=serverUrl+'web/database/'+ serverName;
    }

    function createDatabase() {
        let tableNameInput = document.getElementById("tableNameInput").value;
        const databaseServer = {
            serverName: serverName,
            databaseName: tableNameInput
        }

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(databaseServer)
        };
        const url=serverUrl+"database/create"
        fetch(url, requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if(data){
                    console.log(data);
                    refresh();
                }else{
                    alert('Fehler bei der POST-Anfrage.');
                }
            })
            .catch(error => {
                alert('Fehler bei der POST-Anfrage:', error);
            });
    }

    function openDatabase(databaseName) {
        window.location.href=serverUrl+'web/tables/'+ serverName+'/'+databaseName;
    }

    function deleteDatabasePopup(databaseName) {
        document.getElementById('confirmationPopup').style.display = 'block';
        selectedDatabase=databaseName;
    }
    function deleteDatabase(databaseName) {
        const databaseServer = {
            serverName: serverName,
            databaseName: databaseName
        }

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(databaseServer)
        };
        const url=serverUrl+"database/delete"
        fetch(url, requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if(data){
                    console.log(data);
                    refresh();
                }else{
                    alert('Fehler bei der POST-Anfrage.');
                }
            })
            .catch(error => {
                alert('Fehler bei der POST-Anfrage:', error);
            });
    }
</script>
</body>
</html>
