<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/databaseOverviewPage.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="page_header">
    <h1 class="page_title">DB Manger - Database Overview</h1>
</div>


<div class="container">
    <div class="info-container">
        <p style="margin-right: 5px">Servername: <strong><span th:text="${serverName}">[Servername]</span></strong></p>
        <p>Databasename: <strong><span th:text="${databaseName}">[Databasename]</span></strong></p>
    </div>
    <div class="button-container">
        <button id="button1" class="icon_button" onclick="back()">
            <i class="fas fa-circle-left"></i>
        </button>
        <button id="button2" class="icon_button" onclick="createTable()">
            <i class="fas fa-file"></i>
        </button>
    </div>

</div>

<div class="database_panel">

    <table>
        <tr>
            <th style="width: 80vw;border: black solid 1px">Table Name</th>
            <th style="width: 20vw;border: black solid 1px">Action</th>
        </tr>
        <tr th:each="tableName : ${tableNames}">
            <td style="width: 80vw;border: black solid 1px">
                <span th:text="${tableName}"></span>
            </td>
            <td style="border: black solid 1px">
                <button id="loadTable" name="loadTable" th:onclick="openTable([[${tableName}]])">Open</button>
            </td>
        </tr>
    </table>

</div>
<script type="text/javascript" th:inline="javascript">

    function back() {
        const serverUrl = /*[[${@environment.getProperty('spring.config.serverUrl')}]]*/ '';
        let serverName = /*[[${serverName}]]*/ 'ServernameFallback';
        window.location.href=serverUrl+'web/database/'+ serverName;
    }

    function createTable() {
        const serverUrl = /*[[${@environment.getProperty('spring.config.serverUrl')}]]*/ '';
        let serverName = /*[[${serverName}]]*/ 'ServernameFallback';
        let databaseName = /*[[${databaseName}]]*/ 'DatabaseNameFallback';
        window.location.href = serverUrl + 'web/createTablePage/' + serverName + '/' + databaseName;
    }

    function openTable(tableName) {
        const serverUrl = /*[[${@environment.getProperty('spring.config.serverUrl')}]]*/ '';
        let serverName = /*[[${serverName}]]*/ 'ServernameFallback';
        let databaseName = /*[[${databaseName}]]*/ 'DatabaseNameFallback';
        window.location.href = serverUrl + 'web/table/' + serverName + '/' + databaseName + '/' + tableName;
    }

</script>
</body>
</html>
