.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

app-x-element {
    display: inline-block;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    background-image: url('/assets/background_game.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pixelquest-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2c3e50;
}