.element_content {
    background-image: url('/assets/stone_ground_field.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none
}