.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-sidenav {
  width: 230px;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

::ng-deep * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}



