<article>
    <div>
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
        </mat-form-field>
        <button mat-fab (click)="createTicket()">
        <mat-icon>add</mat-icon>
        </button>
        <button mat-fab (click)="openSettingsDialog()">
            <mat-icon>settings</mat-icon>
          </button>
    </div>

    <section class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>


            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef> Label </th>
                <td mat-cell *matCellDef="let element"> {{element.label}} </td>
            </ng-container>

            <ng-container matColumnDef="classification">
                <th mat-header-cell *matHeaderCellDef> Classification </th>
                <td mat-cell *matCellDef="let element"> {{element.classification}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Due Date </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.deadLine"> {{element.startDate| date: 'mediumDate'}} <strong> - </strong>{{element.endDate| date: 'mediumDate'}}</p>
                    <p *ngIf="!element.deadLine"> {{element.startDate| date: 'mediumDate'}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="createDate">
                <th mat-header-cell *matHeaderCellDef> Created Date </th>
                <td mat-cell *matCellDef="let element"> {{element.createDate | date: 'mediumDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary" style="margin-right: 0.5rem;" (click)="viewTicket(element)">
                        <mat-icon>folder_open</mat-icon>
                      </button>
                    <button mat-mini-fab color="warn" style="margin-right: 0.5rem;" (click)="deleteTicket(element)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    <button mat-mini-fab color="primary" (click)="editTicket(element)">
                        <mat-icon>construction</mat-icon>
                      </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ticketTableSettings.selectedFilter.displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: ticketTableSettings.selectedFilter.displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </section>

</article>