<article style="height: 100%">
  <button mat-raised-button style="width: 100%" (click)="showValue()">Show Value</button>
  <mat-stepper [linear]="isLinear" #stepper style="height: 100%">

    <mat-step label="Create Item">
      <button mat-raised-button color="primary" matStepperNext>Next</button>
      <app-item-setup></app-item-setup>
    </mat-step>


    <mat-step label="Select/create your Scheme">
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" mat-button matStepperNext>Next</button>
      <app-component-for-scheme></app-component-for-scheme>
    </mat-step>

    <mat-step>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
      <app-item-real-view></app-item-real-view>
    </mat-step>

  </mat-stepper>
</article>
