<article class="expansion-header">
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matLine>User Administration</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list-item>
      <span matLine>
        <button mat-raised-button color="primary">
          <mat-icon>refresh</mat-icon>
        </button>
      </span>
    </mat-list-item>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Database Process</mat-panel-title>
    </mat-expansion-panel-header>
    <app-database-process></app-database-process>
  </mat-expansion-panel>

</article>
