.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card {
  width: 70%;
  max-width: 70%;
}

.profile-icon {
  font-size: 3rem;
  margin-bottom: 16px;
}

.user-info {
  margin-top: 16px;
}
