<article>

  <p-card>
    <ng-template pTemplate="title">
      <h1>Database</h1>
    </ng-template>
    <form class="card-content">
      <h3>Create Database</h3>
      <div class="p-inputgroup">
        <input type="text" pInputText [(ngModel)]="databaseName" placeholder="Database Name" [ngModelOptions]="{standalone: true}">
        <button type="button" pButton pRipple icon="pi pi-send" styleClass="p-button-warn" (click)="createDatabase()"></button>
      </div>
      <small class="p-error block" *ngIf="databaseNameExist"> Database name all ready exist.</small>
    </form>
    <p-divider></p-divider>
    <h3>Databases</h3>
    <p-table [value]="filteredDatabaseNames" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%">Nr.</th>
          <th>Name</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-databaseName>
        <tr>
          <td>{{databaseName.nr}}</td>
          <td style="font-size: larger;">{{databaseName.name}}</td>
          <td style="text-align: right;">
            <p-button label="Open" icon="pi pi-folder-open" (onClick)="open(databaseName.name)"></p-button>
            <p-button label="Delete" icon="pi pi-trash" (onClick)="delete(databaseName.name)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="rows" [rowsPerPageOptions]="[5,10, 20, 30]" (onPageChange)="change($event)"
                 [totalRecords]="databaseNames.length"></p-paginator>

  </p-card>

</article>
