<article>
  <h4>View-Schema</h4>
  {{data[0].standardComponent.value}}
  <div *ngFor="let scheme of data">
    <label *ngIf="scheme.standardComponent.value === 'LABEL'">{{scheme.content}}</label>

    <form *ngIf="scheme.standardComponent.value === 'INPUT_FIELD'">
      <mat-form-field>
        <mat-label>{{scheme.content}}</mat-label>
        <input matInput>
      </mat-form-field>
    </form>

    <form *ngIf="scheme.standardComponent.value === 'input_text_area'">
      <mat-form-field>
        <mat-label>{{scheme.content}}</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </form>

    <section *ngIf="scheme.standardComponent.value === 'checkbox'">
      <mat-checkbox>{{scheme.content}}</mat-checkbox>
    </section>

    <section *ngIf="scheme.standardComponent.value === 'checkbox_with_sub_checks'" class="example-section">
      <span class="example-list-section">
        <mat-checkbox > <!--
                      [checked]="allComplete"
                      [color]="task.color"
                      [indeterminate]="someComplete()"
                      (change)="setAll($event.checked)">
                      -->
          {{scheme.content}}
        </mat-checkbox>
      </span>
      <span  class="example-list-section">
          <ul>
            <li>
              <mat-checkbox class="example-margin"> <!--
                            [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                            -->
                  First Subtask
                </mat-checkbox>
              </li>
            <li>
              <mat-checkbox class="example-margin"> <!--
                            [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                            -->
                  Second Subtask
                </mat-checkbox>
              </li>
          </ul>
      </span>
    </section>


  </div>
</article>
