article {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

.date_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date_form mat-form-field:nth-child(1) {
  width: 29%;
}
.date_form mat-form-field:nth-child(2) {
  width: 19%;
}

.date_form mat-form-field:nth-child(3) {
  width: 29%;
}
.date_form mat-form-field:nth-child(4) {
  width: 19%;
}

.date_form_two_dif_types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date_form_two_dif_types mat-form-field:nth-child(1),
.date_form_two_dif_types mat-form-field:nth-child(2){
  width: 49%;
}



mat-card-content mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

mat-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
