article {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling */
}

p-tree ::ng-deep {
  height: 100vh;
}

.tree-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  flex-shrink: 0; /* Prevent tree-container from shrinking */
  overflow: auto; /* Allow scrolling within the tree-container */
  max-height: 100vh; /* Ensure it does not exceed the viewport height */
  width: auto; /* Adjust width to content */
  background-color: white;
}

p-tree {
  max-height: 100vh; /* Full height of viewport */
}

.selectedContent {
  flex: 1; /* Take up remaining space */
  overflow: auto; /* Allow scrolling within the content div */
}

.button-container {
  display: flex;
  align-items: center; /* Vertikale Ausrichtung der Elemente */
}

.button-container p {
  margin-left: 1em; /* Abstand zwischen Button und Text */
}

::ng-deep .p-card {
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
}

p-button {
  margin-right: 15px;
}

.card-content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.card-content p {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.card-content p span {
  flex: 1;
}


