.article-container {
  text-align: center;
}

.center-text {
  display: block;
  margin: 20px 0;
  font-size: large;
}

.steps-list {
  margin: 20px 0;
}

.step-item {
  margin-bottom: 10px;
}

.step-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label span {
  margin-left: 10px;
}

.start-button {
  margin-top: 20px;
}

.container {
  background-color: #5c5c5c;
}
.checkbox-text{
  font-weight: bold;
  font-size: larger;
}
