<article class="container">
  <div class="article-container">
    <div class="description">
      <span class="center-text">Choose your steps for Database Processes</span>
    </div>
    <div class="steps-list">
      <ng-container class="step-item" *ngFor="let item of processList">
        <label>
          <input type="checkbox" [disabled]="disableCheckboxes" /> {{ item.processLabel }}
        </label>
        <button mat-icon-button>
          <mat-icon>{{ item.processIcon }}</mat-icon>
        </button>
      </ng-container>
    </div>
    <div class="start-button">
      <button mat-raised-button color="primary" (click)="startProcess()">Start Process</button>
    </div>
  </div>
</article>
