.article-container {
  text-align: center;
}

.center-text {
  display: block;
  margin: 20px 0;
}

.steps-list {
  margin: 20px 0;
}

.step-item {
  margin-bottom: 10px;
}

.start-button {
  margin-top: 20px;
}
.container{
  background-color: #5c5c5c;
}
