<article class="container">
  <div class="article-container">
    <div class="description">
      <span class="center-text">Choose your steps for Database Processes</span>
    </div>
    <div class="steps-list">
      <mat-divider></mat-divider>
      <div class="step-item" *ngFor="let item of processList">
        <label>
          <mat-checkbox [disabled]="disableCheckboxes">{{ item.processLabel }}</mat-checkbox>
        </label>
        <button mat-icon-button>
          <mat-icon>{{ item.processIcon }}</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="startProcess()">Start Process</button>
  </div>
</article>
