<article class="container">
  <div class="article-container">
    <div class="description">
      <span class="center-text">Choose your steps for Database Processes</span>
    </div>
    <div class="steps-list">
      <mat-divider></mat-divider>
      <div class="step-item" *ngFor="let item of processList">
        <div class="step-item-container">
          <label class="checkbox-label">
            <mat-checkbox [disabled]="disableCheckboxes"></mat-checkbox>
            <span class="checkbox-text">{{ item.processLabel }}</span>
          </label>
          <mat-spinner></mat-spinner>
          <mat-icon>{{ item.processStatusIcon }}</mat-icon>
          <button mat-icon-button>
            <mat-icon>{{ item.processIcon }}</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="startProcess()">Start Process</button>
  </div>
</article>
