<div class="dialog-content">
    <div class="filters">
        <input type="text" placeholder="Search by keyword or title" [(ngModel)]="searchText" (input)="filterImages()" />
        <select [(ngModel)]="selectedCategory" (change)="filterImages()">
        <option value="">Select Category</option>
        <option value="fields">Fields</option>
        <option value="objects">Objects</option>
      </select>
    </div>

    <div class="grid-container">
        <div *ngFor="let image of filteredImages" class="image-item" (click)="selectImage(image)">
            <img [src]="image.src" [alt]="image.title" />
            <p>{{ image.title }}</p>
        </div>
    </div>

    <div class="dialog-footer">
        <button class="btn">Übernehmen</button>
        <button class="btn">Abbrechen</button>
    </div>
</div>