<p-card header="Login">

  <div class="flex flex-column gap-2">
    <label for="username">Username</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="userName" />
    <small id="username-help">
      Enter your username to reset your password.
    </small>
  </div>

  <div class="flex flex-column gap-2">
    <label for="username">Username</label>
    <input
      pInputText
      id="password"
      aria-describedby="username-help"
      [(ngModel)]="password" />
    <small id="password-help">
      Enter your username to reset your password.
    </small>
  </div>
</p-card>

