<article>
  <form [formGroup]="taskForm" class="form">

    <mat-form-field appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="name" formControlName="name" required>
      <mat-error *ngIf="taskForm.controls.name.invalid">{{'Error'}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your username</mat-label>
      <textarea matInput placeholder="information" formControlName="information" required></textarea>
      <mat-error *ngIf="taskForm.controls.information.invalid">{{'Error'}}</mat-error>
    </mat-form-field>
  </form>
</article>
