<div class="ticket-container">

    <mat-card *ngIf="ticket">
        <mat-spinner *ngIf="loading" class="spinner-overlay"></mat-spinner>

        <mat-card-header>
            <mat-card-title>{{ ticket?.title }}</mat-card-title>
            <mat-card-subtitle>{{ ticket?.type }} - {{ ticket?.label }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Description:</strong> {{ ticket?.description }}</p>
            <p><strong>Start date:</strong> {{ ticket?.startDate | date: 'mediumDate' }}</p>
            <p><strong>End date:</strong> {{ ticket?.endDate | date: 'mediumDate' }}</p>
            <p><strong>Created date:</strong> {{ ticket?.createDate }}</p>
            <p><strong>Classification</strong> {{ ticket?.classification ? 'Ja' : 'Nein' }}</p>
        </mat-card-content>
        <button mat-button color="primary" (click)="backToOverview()">Back</button>
    </mat-card>

    <!-- Ladehinweis, falls Ticket nicht geladen -->
    <mat-spinner *ngIf="loading && !ticket"></mat-spinner>
    <p *ngIf="!loading && !ticket">Kein Ticket gefunden.</p>
</div>