<article>
  <div>
    <h4>Item Information</h4>
    <form [formGroup]="itemInformation">
      <mat-form-field>
        <mat-label>Enter your item name</mat-label>
        <input matInput placeholder="item name" formControlName="itemName" required>
        <mat-error *ngIf="itemInformation.controls.itemName.invalid">Please enter your the Item Name</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter the description</mat-label>
        <input matInput placeholder="description" formControlName="itemDescription" required>
        <mat-error *ngIf="itemInformation.controls.itemDescription.invalid">Please enter the Item Title Name</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter the icon name</mat-label>
        <input matInput placeholder="description" formControlName="itemIconName" required>
        <mat-error *ngIf="itemInformation.controls.itemIconName.invalid">Please enter the Item Title Name</mat-error>
      </mat-form-field>
    </form>
  </div>
</article>
