<article>

  <mat-form-field style=" flex: 1;  margin-right: 10px; ">
    <mat-label>Components</mat-label>
    <mat-select [(ngModel)]="selectedValueComponents">
      <mat-option *ngFor="let standardComponent of standardComponents"
                  [value]="standardComponent.value">{{standardComponent.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" class="add_button" (click)="addComponentToTable(selectedValueComponents)">
    Add
  </button>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <th mat-header-cell cdkDrag *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="componentName">
      <th mat-header-cell cdkDrag *matHeaderCellDef> Component Name</th>
      <td mat-cell *matCellDef="let element"> {{element.componentName}} </td>
    </ng-container>

    <ng-container matColumnDef="label">
      <th mat-header-cell cdkDrag *matHeaderCellDef> Label Name</th>
      <td mat-cell *matCellDef="let element">
        <form>
          <mat-form-field>
            <mat-label>Enter your label name</mat-label>
            <input matInput [(ngModel)]="element.label" name="description">
          </mat-form-field>
        </form>
      </td>
    </ng-container>

    <ng-container matColumnDef="specification">
      <th mat-header-cell cdkDrag *matHeaderCellDef>Specification</th>
      <th mat-header-cell cdkDrag *matHeaderCellDef> Specification Types</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-label>Specification Types</mat-label>
          <mat-select [(ngModel)]="element.specification">
            <mat-option *ngFor="let specification of element.standardComponent.specificationList"
                        [value]="specification">{{specification}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="defaultValue">
      <th mat-header-cell cdkDrag *matHeaderCellDef> Default Value</th>
      <td mat-cell *matCellDef="let element">
        <form>

          <mat-form-field *ngIf="!element.isBoolean">
            <mat-label>Enter your default value</mat-label>
            <input matInput [(ngModel)]="element.defaultValue" [ngModelOptions]="{standalone: true}" >
          </mat-form-field>

          <mat-form-field *ngIf="element.isBoolean">
            <mat-label>Is check</mat-label>
            <mat-select [(ngModel)]="element.defaultValue" [ngModelOptions]="{standalone: true}">
              <mat-option [value]='true'>True</mat-option>
              <mat-option  [value]='false'>False</mat-option>
            </mat-select>
          </mat-form-field>

        </form>
      </td>
    </ng-container>

    <ng-container matColumnDef="valueList">
      <th mat-header-cell cdkDrag *matHeaderCellDef>Value List</th>
      <td mat-cell *matCellDef="let element">
        <form *ngIf="!element.isMultiValue">
          <mat-form-field>
            <mat-label>Enter your value list with comma delimiter</mat-label>
            <input matInput [(ngModel)]="element.valueList" name="description">
          </mat-form-field>
        </form>
        <form *ngIf="element.isMultiValue">
          <mat-form-field class="example-form-field">
            <mat-label>Video keywords</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="formControl">

              <mat-chip-row *ngFor="let keyword of keywords" (removed)="removeKeyword(keyword)">
                {{keyword}}
                <button matChipRemove aria-label="'remove ' + keyword">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>

            </mat-chip-grid>
            <input placeholder="New keyword..."
                   [matChipInputFor]="chipGrid"
                   (matChipInputTokenEnd)="add($event)"/>
          </mat-form-field>
        </form>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</article>
