<h2 mat-dialog-title>Ticket Filter Settings</h2>

<mat-dialog-content>

    <!-- Status Filter Section -->
    <h3>Status Filter</h3>
    <div class="status-filter">
        <div class="checkbox-group">
            <mat-checkbox [(ngModel)]="isALL" [disabled]="!isEditable">
                {{ 'ALL' | titlecase }}
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="selectedFilter.statusFilter.isCREATED" [disabled]="!isEditable">
                {{ 'CREATED' | titlecase }}
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="selectedFilter.statusFilter.isWAITING" [disabled]="!isEditable">
                {{ 'WAITING' | titlecase }}
            </mat-checkbox>
        </div>
        <div class="checkbox-group">
            <mat-checkbox [(ngModel)]="selectedFilter.statusFilter.isREFINEMENT" [disabled]="!isEditable">
                {{ 'REFINEMENT' | titlecase }}
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="selectedFilter.statusFilter.isIN_PROGRESS" [disabled]="!isEditable">
                {{ 'IN_PROGRESS' | titlecase }}
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="selectedFilter.statusFilter.isDONE" [disabled]="!isEditable">
                {{ 'DONE' | titlecase }}
            </mat-checkbox>
        </div>
    </div>

    <h3>Filter</h3>
    <div>
        <mat-form-field class="full-width" *ngIf="settings.filter.length > 1">
            <mat-label>Choose Filter</mat-label>
            <mat-select [(value)]="filterName" placeholder="Select Filter" (selectionChange)="changeFilter(filterName)">
                <mat-option *ngFor="let filter of filterNames" [value]="filter">
                    {{ filter }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <h3>Rows</h3>
    <div>
        <mat-form-field class="full-width" *ngIf="selectedFilter.displayedColumns.length > 1">
            <mat-label>Choose Columns</mat-label>
            <mat-select [(value)]="selectedFilter.displayedColumns" multiple [disabled]="!isEditable">
                <mat-option *ngFor="let column of defaultColumns" [value]="column">
                    {{ column }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="onCancle()">Cancle</button>
    <button mat-button (click)="resetDefault()" *ngIf="filterName === 'default'">Reset</button>
    <button mat-button (click)="createNewFilter()" *ngIf="filterName === 'default'">New Filter</button>
    <button mat-button (click)="editFilter()" *ngIf="filterName !== 'default'">Edit</button>
    <button mat-button (click)="onClose()" cdkFocusInitial>Save</button>
</mat-dialog-actions>