.world-element-content {
    background-image: url('/assets/stone_ground_field.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none
}

.figure-image {
    top: 0;
    left: 0;
    pointer-events: none;
}

.figure-image {
    z-index: 2;
}

.world-element-content {
    z-index: 1;
}