article {
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card {
  width: 100%;
  max-width: 50%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  width: 80%;
  margin-bottom: 20px;
  margin-lef: 0;
}

mat-card-content {
  width: 100%;
}

.list-container {
  height: 300px; /* Höhe des scrollbaren Containers */
  overflow: auto; /* Ermöglicht das Scrollen */
  border: 1px solid #ccc; /* Optional: Füge einen Rahmen hinzu */
}

.list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc; /* Optional: Füge eine Trennlinie zwischen den Einträgen hinzu */
}

span {
  flex: 1;
  margin-right: 16px;
}
