<!--
<div [style.background-color]="'green'" [style.height.px]="screenSize?.height" [style.width.px]="screenSize?.width">
    <button (click)="login()">Test</button>
</div>
-->

<div class="login-container" [style.height.px]="screenSize?.height">
    <p-panel header="Login" [style]="{ 'width': '400px' }" [styleClass]="'login-panel'">
        <div class="p-fluid">
            <div class="p-field">
                <label for="username">Benutzername</label>
                <input pInputText id="username" placeholder="Benutzername eingeben" />
            </div>
            <div class="p-field">
                <label for="password">Passwort</label>
                <input pPassword id="password" placeholder="Passwort eingeben" />
            </div>
            <div class="p-field">
                <button pButton label="Login" icon="pi pi-sign-in" (click)="login()" class="p-button-rounded">Test</button>
            </div>
        </div>
    </p-panel>
</div>