<article>
  <div style="text-align: center">
    <span class="center-text">Scope List</span>
  </div>

  <div class="scrollable-container">
    <div class="step-item" *ngFor="let item of scopeCheckbox; index as i">
      <label class="checkbox-label">
        <mat-checkbox (change)="changeCheckbox(item.value,$event)" [ngModel]="item.isSelected"></mat-checkbox>
        <span class="checkbox-text">{{ item.value }}</span>
      </label>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="button-container">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="scopeValues" cdkFocusInitial>Ok</button>
  </div>
</article>
