<div class="header">

    <div class="header-left">
        <i class="pi pi-cog" (click)="toggleSettings()"></i>
    </div>
    <div class="header-left" style="padding-left: 0.5rem;">
        <i *ngIf="isField" class="pi pi-stop" style="background-color: green;" (click)="toggleImages(true,false)"></i>
        <i *ngIf="!isField" class="pi pi-stop" style="background-color: red;" (click)="toggleImages(true,false)"></i>
    </div>
    <div class="header-left" style="padding-left: 0.5rem;">
        <i *ngIf="isObject" class="pi pi-home" style="background-color: green;" (click)="toggleImages(false,true)"></i>
        <i *ngIf="!isObject" class="pi pi-home" style="background-color: red;" (click)="toggleImages(false,true)"></i>
    </div>
    <div class="header-left" style="padding-left: 0.5rem;" *ngIf="isField || isObject">
        <i class="pi pi-palette" (click)="toggleColour()"></i>
    </div>


    <div class="header-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="header-stats">
        <div>Gold: {{ gold }}</div>
        <div>Münzen: {{ coins }}</div>
        <div>Einheiten: {{ units }}</div>
    </div>
</div>