<div class="world-container" (mousedown)="startDrag($event)" (mouseup)="stopDrag()" (mousemove)="onDrag($event)">
    <div class="world-grid" [style.gridTemplateColumns]="'repeat(' + container.colSize + ', 100px)'" [style.gridTemplateRows]="'repeat(' + container.rowSize + ', 100px)'" [style.transform]="'translate(' + container.settings.offsetX + 'px, ' + container.settings.offsetY + 'px)'">
        <div *ngFor="let row of container.pixelQuestGrid.pixelRow" class="row">
            <div *ngFor="let element of row.pixelElements" class="cell" [style.backgroundImage]="'url(' + element.image + ')'">
            </div>
        </div>
    </div>
</div>