<article class="container">

  <mat-stepper #stepper [linear]="true">
    <mat-step [completed]="canExecute">
      <ng-template matStepLabel>Choose your processes</ng-template>
      <div class="article-container">
        <div class="description">
          <div class="menu-container">
            <button mat-icon-button (click)="resetProcessSelection()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
          <span class="center-text">{{itemText}}</span>
        </div>

        <mat-form-field style="width: 100%;">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search value">
        </mat-form-field>
        <div class="steps-list">
          <mat-divider></mat-divider>
          <div class="step-item" *ngFor="let item of processList">
            <div class="step-item-container" *ngIf="item.processIsShowActivated">
              <label class="checkbox-label">
                <mat-checkbox (change)="changeIcon(item.process.processName,$event)"
                              [(ngModel)]="item.processActivated"></mat-checkbox>
                <span class="checkbox-text">{{ item.process.processText }}</span>
              </label>
              <div class="icon-container">
                <mat-icon class="status-icon">{{ item.processStatusIcon }}</mat-icon>
                <button mat-icon-button [matTooltip]=item.process.processText>
                  <mat-icon>{{ item.processIcon }}</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider *ngIf="item.processIsShowActivated"></mat-divider>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="stepper.next();setProcesses()" style="width: 100%"
              [disabled]="isProcessSelected">
        Start Process
      </button>
    </mat-step>

    <mat-step [completed]="canDisplay">
      <ng-template matStepLabel>Execute Processes</ng-template>

      <div class="article-container">
        <div class="description">
          <div class="menu-container">
            <button mat-icon-button (click)="resetExecuteProcess();stepper.reset()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
          <span class="center-text">{{itemText}}</span>
        </div>
        <!--Validate View-->
        <div class="steps-list" *ngIf="(!isProcessFinish)&&(!isProcessRunning)">
          <mat-divider></mat-divider>
          <div class="step-item" *ngFor="let item of startProcessList; index as i">
            <div class="step-item-container" *ngIf="item.processIsShowActivated">
              <label class="checkbox-label">
                <span class="checkbox-text">{{ item.process.processText }}</span>
                <div class="spinner-container" *ngIf="isLoading && (!item.isProcessFinish)">
                  <mat-spinner diameter="20" color="warn"></mat-spinner>
                </div>
              </label>
              <div class="icon-container">
                <mat-icon>processStatusIcon</mat-icon>
                <button mat-icon-button *ngIf="item.process.scopeList.length>0" (click)="open(item.process)">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>{{ item.processIcon }}</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider *ngIf="item.processIsShowActivated"></mat-divider>
          </div>
        </div>
        <!--Start Process View-->
        <div class="steps-list" *ngIf="(!isProcessFinish)&&(isProcessRunning)||(isProcessFinish)&&(isProcessRunning)">
          <mat-divider></mat-divider>
          <div class="step-item" *ngFor="let main of executeProcessUI.executeMainProcesses; index as i">
            <div class="step-item-container">
              <label class="checkbox-label">
                <span class="checkbox-text">{{i + 1}} {{ main.processText }} {{ main.theme }}</span>
                <div class="spinner-container" *ngIf="(!main.isProcessFinish) && executeProcessUI.isProcessRunning">
                  <mat-spinner diameter="20" color="warn"></mat-spinner>
                </div>
              </label>
              <div class="icon-container">
                <mat-icon>{{main.processStatusIcon}}</mat-icon>
                <button mat-icon-button>
                  <mat-icon>report</mat-icon>
                </button>
              </div>
            </div>
            <div class="step-item-container" *ngFor="let sub of main.processList; index as j">
              <label class="checkbox-label">
                <span class="checkbox-text">{{i + 1}}.{{j + 1}} {{ sub.processText }} {{ sub.theme }}</span>
                <div class="spinner-container" *ngIf="(!sub.isProcessFinish) && executeProcessUI.isProcessRunning">
                  <mat-spinner diameter="20" color="warn"></mat-spinner>
                </div>
              </label>
              <div class="icon-container">
                <mat-icon>{{sub.processStatusIcon}}</mat-icon>
                <button mat-icon-button>
                  <mat-icon>report</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>

      </div>

      <div style="position: relative"
           *ngIf="(!isProcessFinish)&&(isProcessRunning)||(isProcessFinish)&&(isProcessRunning)">
        <mat-progress-bar mode="determinate" [value]="progress" color="warn"></mat-progress-bar>
        <div
          style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; text-align: center; color: white;">
          {{progress}}%
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="validateProcess()" style="width: 100%"
                *ngIf="(!isProcessFinish)&&(!isProcessRunning)">
          Validate Process
        </button>
        <button mat-raised-button color="primary" (click)="startProcess()" style="width: 100%"
                *ngIf="(!isProcessFinish)&&(isProcessRunning)">
          Start Process
        </button>
        <button mat-raised-button color="primary" (click)="stepper.next() ; loadProtocols()" style="width: 100%"
                *ngIf="(isProcessFinish)&&(isProcessRunning)">
          Display Protocol
        </button>
      </div>
    </mat-step>
    <!--Result-->
    <mat-step>

      <ng-template matStepLabel>Process Result Overview</ng-template>
      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;font-size: 24px;">
        <span style="margin-right: 5px;"><strong>Process Result Overview</strong></span>
        <mat-icon *ngIf="protocolResultUI.etaskProcessStatus==='RESTRICTED'" style="color: yellow; font-size: 24px;">
          warning
        </mat-icon>
        <mat-icon *ngIf="protocolResultUI.etaskProcessStatus==='UNRESTRICTED'" style="color: green; font-size: 24px;">
          check
        </mat-icon>
        <mat-icon *ngIf="protocolResultUI.etaskProcessStatus==='CANCEL'" style="color: red; font-size: 24px;">close
        </mat-icon>
      </div>

      <div class="protocol-details">
        <table>
          <tr>
            <td style="width: 50%;" class="mat-body-1"><strong>Date Range:</strong></td>
            <td style="width: 50%;" class="mat-body-1"><strong>{{protocolResultUI.executeTaskDate}}
              - {{protocolResultUI.executeEndTaskDate}}</strong></td>
          </tr>
          <tr>
            <td style="width: 50%;" class="mat-body-1"><strong>Duration:</strong></td>
            <td style="width: 50%;" class="mat-body-1"><strong>{{protocolResultUI.processDuration}}</strong></td>
          </tr>
          <tr>
            <td style="width: 50%;" class="mat-body-1"><strong>Task Signature:</strong></td>
            <td style="width: 50%;" class="mat-body-1"><strong>{{protocolResultUI.signature}}</strong></td>
          </tr>
          <tr>
            <td style="width: 50%;" class="mat-body-1"><strong>User ID:</strong></td>
            <td style="width: 50%;" class="mat-body-1"><strong>{{protocolResultUI.id}}</strong></td>
          </tr>
          <tr>
            <td style="width: 50%;" class="mat-body-1"><strong>User:</strong></td>
            <td style="width: 50%;" class="mat-body-1"><strong>{{protocolResultUI.executeTaskUser}}</strong></td>
          </tr>
          <tr>
            <td colspan="2">
              <table style="width: 100%;">
                <tr>
                  <td style="width: 50%;" class="mat-body-1"><strong>Process Amounts:</strong></td>
                  <td style="width: 50%;" class="mat-body-1">
                    <table>
                      <tr>
                        <td class="mat-body-1"><strong>Total:</strong></td>
                        <td class="mat-body-1">{{protocolResultUI.totalProcessAmount}}</td>
                      </tr>
                      <tr>
                        <td class="mat-body-1"><strong>Main:</strong></td>
                        <td class="mat-body-1">{{protocolResultUI.mainProcessAmount}}</td>
                      </tr>
                      <tr>
                        <td class="mat-body-1"><strong>Sub:</strong></td>
                        <td class="mat-body-1">{{protocolResultUI.subProcessAmount}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Comment:</mat-label>
                <textarea matInput class="comment-input" rows="7" maxlength="500"
                          [(ngModel)]="originComment">{{originComment}}</textarea>
                <button mat-raised-button (click)="saveUserComment()" style="width: 100%" color="primary">Save Comment
                </button>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>

      <mat-divider></mat-divider>
      <div *ngFor="let main of protocolResultUI.protocolMainResults; index as i">
        <span>{{i + 1}} {{main.processText}}</span>
        <mat-icon *ngIf="main.eprocessStatus==='PASSED'" style="color: green">check</mat-icon>
        <mat-icon *ngIf="main.eprocessStatus!=='PASSED'" style="color: red">close</mat-icon>
        <div *ngFor="let sub of main.protocolSubResults; index as j">
          <span>{{i + 1}}.{{j + 1}} {{sub.processText}}</span>
          <mat-icon *ngIf="sub.eprocessStatus==='PASSED'" style="color: green">check</mat-icon>
          <mat-icon *ngIf="sub.eprocessStatus!=='PASSED'" style="color: red">close</mat-icon>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div>
        <button mat-raised-button (click)="newProcess()" style="width: 100%" color="primary">Got to Start</button>
      </div>
    </mat-step>

  </mat-stepper>
</article>




