<article class="container">
  <mat-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="article-container">
        <div class="description">
          <span class="center-text">{{itemText}}</span>
        </div>
        <mat-form-field style="width: 100%;">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search value">
        </mat-form-field>
        <div class="steps-list">
          <mat-divider></mat-divider>
          <div class="step-item" *ngFor="let item of processList; index as i">
            <div class="step-item-container" *ngIf="item.processIsShowActivated">
              <label class="checkbox-label">
                <mat-checkbox [disabled]="isLoading" (change)="changeIcon(i,$event)" [(ngModel)]="item.processActivated"></mat-checkbox>
                <span class="checkbox-text">{{ item.process.processText }}</span>
                <div class="spinner-container" *ngIf="isLoading && (!item.isProcessFinish)">
                  <mat-spinner diameter="20" color="warn"></mat-spinner>
                </div>
              </label>
              <div class="icon-container">
                <mat-icon class="status-icon">{{ item.processStatusIcon }}</mat-icon>
                <button mat-icon-button>
                  <mat-icon>{{ item.processIcon }}</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider *ngIf="item.processIsShowActivated"></mat-divider>
          </div>
        </div>
      </div>

      <div style="position: relative" *ngIf="isLoading">
        <mat-progress-bar mode="determinate" [value]="progress" color="warn"></mat-progress-bar>
        <div
          style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; text-align: center; color: white;">
          {{progress}}%
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="startProcess(); stepper.next()" style="width: 100%">Start Process</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</article>




