app-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ae3131;
    /* Hintergrundfarbe des Headers */
}

app-footer {
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: #ae3131;
    /* Hintergrundfarbe des Footers */
}

app-world {
    height: 100vh;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}