<article style="padding-bottom: 30px">

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matLine>Logfiles</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-logfiles></app-logfiles>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matLine>System User Administration</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-system-user></app-system-user>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matLine>Start Process-Jobs</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-process></app-process>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span matLine>CronJobs</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-cronjobs></app-cronjobs>
  </mat-expansion-panel>

</article>



